/* Styles for incident report form on the frontend */

/* Example styles for form container */
.incident-report-form{
    display: block;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Example styles for form inputs */
.incident-report-form input {
    
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Example styles for form button */
.incident-report-form label {
    
    
    padding: 10px;
 
    cursor: pointer;
}

/* Example styles for form button on hover */
.incident-report-form button:hover {
    background-color: #0056b3;
}
